body {
  background-color: #00ffff6c;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 200%;
}

h1 span {
  background-color: grey;
}

ul li a {
  text-decoration: none;
}

nav {
  display: flex;
  flex-direction: row-reverse;
}

nav a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

nav a:hover {
  color: #fff;
}

li {
  display: inline;
  padding: 20px;
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.sub-header {
  display: flex;
  flex-direction: row-reverse;
  background-color: azure;
}

footer {
  padding: 2%;
  text-align: center;
}


p {
  text-align: right;
  font-size: medium;
}

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
  }
}