* {
  margin: 0;
  padding: 0;
  font-family: 'Vollkorn', serif;
}

section {
  display: flex;
  flex-direction: column;
}

#profolio-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#banner {
  background: cross-fade();
}

.project {
  flex: 0 0 100%;
 position: relative;
}

.project h4 {
 position: absolute;
 bottom: 0;
 left: 0;
 background-color: skyblue;
 color: black;
 padding: 15px;
}

h3 {
  font-size: 54px;
}

.project img:hover {
  height: 150px;
  width: 100%;
  object-fit: cover;
  
}

.project:first-child {
  flex: 0 0 100%;
}

.project:first-child img {
 height: 300px;
}

body {
  max-width: 1000px;
  background-image: linear-gradient(to bottom, skyblue, white);
  margin: 0 auto;
}

a {
  text-decoration: none;
}

h1 {
  /* font-size: 200%; */
  font-size: 50px;
  color: #fff;
}

/* h1 span {
  background-color: grey;
} */

ul li a {
  text-decoration: none;
  background: #fff;
}

nav {
  display: flex;
  flex-direction: row-reverse;
}

nav a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

nav a:hover {
  color: #fff;
}

li {
  display: inline;
  padding: 20px;
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.sub-header {
  display: flex;
  flex-direction: row-reverse;
  background-color: azure;
}

#aboutme {
  font-size: 20px;
  align-self: left;
}

h2 {
  text-decoration: underline;
  display: flex;
  justify-content: space-between;
}

h2 a:hover {
  color: #fff;
}

footer {
  padding: 2%;
  text-align: center;
}

p {
  text-align: left;
  font-size: medium;
}

@media screen and (min-width: 600px) {

  #protfolio-container {
    border-left: 8px solid rgb(251, 255, 0);
    padding-left: 16px;
  }

  .project {
    flex: 0 0 49%;
  }

  section {
    flex-direction: row;
  }

  section h3 {
    flex: 0 0 25%;
    align-self: center;
  }
}

@media screen and (min-width: 800px) {
  .project {
    flex: 0 0 32%;
  }
}